.cordefundo-preta{
  background-color: #000;
}



.fonte-10{
  font-size: 10px;
}
.fonte-12{
  font-size: 12px;
}
.fonte-14{
  font-size: 14px;
}
.fonte-16{
  font-size: 16px;
}
.fonte-18{
  font-size: 18px;
}
.fonte-20{
  font-size: 20px;
}
.fonte-30{
  font-size: 30px;
}
.fonte-40{
  font-size: 40px;
}
.fonte-50{
  font-size: 50px;
}
.fonte-60{
  font-size: 60px;
}
.fonte-70{
  font-size: 70px;
}
.fonte-80{
  font-size: 80px;
}
.fonte-90{
  font-size: 90px;
}
.fonte-100{
  font-size: 100px;
}
